* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #231623;
	font-family: 'Raleway', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 15px auto;
	width: 100%;
	text-align: center;
	padding: 2%;
  background-image: url(../images/bg1.gif);
  background-repeat: no-repeat;
  background-size: cover;
	height: 800px;
}

.title h1{
  margin-top: 120px;
}

h1 {
  color: #231623;
  font-size: 100px;
}

h1 + p {
	margin-bottom: 5%;
  color: #231623;
}

.scorebox {
  float: left;
}
.timebox {
  float: right;
}

.outerbox:after {
	content: "";
	display: block;
	clear: both;
}

.bg {
	background-color: #37C171;
}

.wrongbg {
  background-color: #DB200C;
}

.winbg {
  background-image: url(../images/cofetii.gif);
}

button {
  border: none;
  background-color: #BE76C4;
  box-shadow: 0px 5px 0px 0px #7A3D7F;
  outline: none;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 22px;
  margin: 20px auto;
  color: #fff;
  position: relative;
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.scorebox p, .scorebox span, .timebox p, .timebox span {
  font-size: 30px;
  color: #D84738;
}

.wordsbox {
	margin-top: 50px;
}

.words, .announce{
  font-size: 60px;
  letter-spacing: 1px;
  color: #231623;
}

.decor img{
  height: 380px;
}

#leaderboard {
  text-align: center;
  color: #231623;
  margin-top: 30px;
}

table {
  border: 1px solid purple;
  border-radius: 20%;
  padding: 18px 18px;
  margin: 20px auto;
  back
  font-size: 25px;
}

.instruction {
  font-size: 30px;
  color: #5C1E5D;
}

img {
  display: block;
  margin: 5px auto;
  height: 400px;
}

.dropbtn {
    color: white;
    padding: 10px 50px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: center absolute;
    background-color: #BE76C4;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #7A3D7F;
}

.show {
  display: block;
  border-radius: 5px;
}
